[Unit]
Description=DGTCentaurMods update service
After=network.target

[Service]
RemainAfterExit=no
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/DGTCentaurMods/.venv/bin/python /opt/DGTCentaurMods/scripts/auto_update.py
Restart=no
User=pi

[Install]
WantedBy=multi-user.target
